

/*********************************************HEADER*********************************************/
.header__nav span{
    font-size: 3rem;
}

.logo--orange {
    color: #fcae61;
}

.logo--dark {
    color: var(--gray-dark);
}

.header .navbar-nav .nav-item .nav-link{
    font-size: 1.6rem;
    color: var(--gray-dark);
}

.header .header__nav .navbar-nav .nav-item {
    margin-left: 2rem;
}

.header .header__nav .navbar-nav .btn--primary {
font-size: 1.6rem;
  font-weight: bold;
  display: block;
  color: #fff;
  width: 17rem;
  height: 5.7rem;
  background-color: #2500f9;
  text-align: center;
  border-radius: 5.7rem;
}
