:root {
    --gray-dark: #242f51;
    --gray-light: #616368;
    --primary-font: "Poppins";
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: var(--primary-font) !important;
    font-weight: 300;
    background-color: #f9fbfc;
    color: var(--gray-light);
}

img {
    display: block;
    max-width: 100%;
  }

a {
    display: block;
    text-decoration: none;
    color: var(--gray-dark);
}
